CheckerTestApp/.DS_Store
CheckerTestApp/CheckerTestApp.xcodeproj/project.xcworkspace/xcuserdata/shakhzod.xcuserdatad/UserInterfaceState.xcuserstate
CheckerTestApp/CheckerTestApp.xcodeproj/xcuserdata/shakhzod.xcuserdatad/xcschemes/xcschememanagement.plist
